/* color  */
/* line 5, ../sass/print.scss */
body {
  font-family: "datm7" !important;
}

/* line 9, ../sass/print.scss */
h1 {
  font-family: "datm7";
  color:#a57c52;
}

/* line 16, ../sass/print.scss */
a:hover {
  text-decoration: none;
}

/* line 22, ../sass/print.scss */
.wrap {
  background: url(../images/cut1-intro/background.png);
  background-size: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 31, ../sass/print.scss */
.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #111111;
  padding: 60px;
  display: none;
}
/* line 42, ../sass/print.scss */
.mobile-menu .language-list {
  margin-bottom: 25px;
  text-align: center;
}
/* line 45, ../sass/print.scss */
.mobile-menu .language-list li {
  display: inline;
  font-size: 16px;
}
/* line 49, ../sass/print.scss */
.mobile-menu .language-list .first-child {
  margin-right: 10px;
}
/* line 54, ../sass/print.scss */
.mobile-menu .language-list .first-child:after {
  content: "|";
  padding-left: 10px;
  color: #999;
}
/* line 61, ../sass/print.scss */
.mobile-menu a {
  color: #999;
  text-decoration: none;
}
/* line 66, ../sass/print.scss */
.mobile-menu .active {
  color: #a67c52;
}
/* line 71, ../sass/print.scss */
.mobile-menu .page-list li {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-bottom: solid 1px #999;
}
/* line 79, ../sass/print.scss */
.mobile-menu .page-list .dropdown i {
  margin-left: 5px;
}
/* line 83, ../sass/print.scss */
.mobile-menu .page-list .dropdown ul {
  overflow: hidden;
  height: 0px;
  margin-top: 5px;
  display: block;
  background: #222;
  padding: 0px 15px;
  transition: all 0.5s;
}
/* line 101, ../sass/print.scss */
.mobile-menu .page-list .show-ul ul {
  padding: 5px 15px;
  height: 95px;
}
/* line 108, ../sass/print.scss */
.mobile-menu .last-child {
  border: none !important;
}

/* line 114, ../sass/print.scss */
.section-01 {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 100000;
  background: url(../images/cut1-intro/background.png);
  background-size: cover;
  display: none;
}
/* line 125, ../sass/print.scss */
.section-01 .logo-container {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}
/* line 131, ../sass/print.scss */
.section-01 .logo-container .main-logo {
  max-width: 360px;
  padding-top: 320px;
  margin: 0 auto;
  text-align: center;
  z-index: 1000;
  position: relative;
}
/* line 142, ../sass/print.scss */
.section-01 .folks {
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../images/cut1-intro/15.png);
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  height: 100%;
  width: 100%;
  z-index: 100;
}
/* line 155, ../sass/print.scss */
.section-01 .light {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 800px;
  width: 800px;
  background: url(../images/cut1-intro/light.png);
  background-size: 100%;
  background-position: center;
  z-index: 10;
  margin-top: -400px;
  margin-left: -400px;
}
/* line 170, ../sass/print.scss */
.section-01 .light-xs {
  -webkit-animation-name: Floating , Rotating;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: Floating , Rotating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(3px, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
@keyframes Floating {
  from {
    transform: translate(-20px, -20px);
  }
  50% {
    transform: translate(20px, 20px);
  }
  to {
    transform: translate(-20px, -20px);
  }
}
@keyframes Floating {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* line 197, ../sass/print.scss */
.section-01 .mask {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  left: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 500;
}

/* line 209, ../sass/print.scss */
.btn {
  display: table;
  margin: 0 auto;
  cursor: pointer;
}

/* line 215, ../sass/print.scss */
.btn-standard {
  border: solid 2px #a67c52;
  border-radius: 0px;
  color: #a67c52;
  font-size: 14px;
  padding: 7px 14px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.3s;
}

/* line 226, ../sass/print.scss */
.btn-standard:hover {
  background: #a67c52;
  color: #fff;
}

/* line 231, ../sass/print.scss */
.landing-btn {
  margin-top: 40px;
  border-radius: 1px;
  border-width: 1px;
}

/* line 238, ../sass/print.scss */
.nav-logo {
  margin: 30px 40px;
  margin-right: 0px;
  display: inline-block;
}
/* line 242, ../sass/print.scss */
.nav-logo img {
  height: 43px;
}

/* line 247, ../sass/print.scss */
.nav-bar {
  display: inline-block;
  float: right;
  padding: 25px 15px;
  position: relative;
}
/* line 253, ../sass/print.scss */
.nav-bar .page-list {
  padding-top: 25px;
}
/* line 257, ../sass/print.scss */
.nav-bar .dropdown {
  position: relative;
}
/* line 260, ../sass/print.scss */
.nav-bar .dropdown i {
  margin-left: 5px;
}
/* line 264, ../sass/print.scss */
.nav-bar .dropdown ul {
  position: absolute;
  left: 5px;
  top: 90%;
  display: none;
}
/* line 269, ../sass/print.scss */
.nav-bar .dropdown ul li {
  display: block;
}
/* line 275, ../sass/print.scss */
.nav-bar .dropdown:hover ul {
  display: block !important;
}
/* line 281, ../sass/print.scss */
.nav-bar .language-list {
  position: absolute;
  right: 35px;
  top: 25px;
}
/* line 286, ../sass/print.scss */
.nav-bar .language-list .first-child {
  margin-right: 10px;
}
/* line 291, ../sass/print.scss */
.nav-bar .language-list .first-child:after {
  content: "|";
  padding-left: 10px;
}
/* line 297, ../sass/print.scss */
.nav-bar .language-list li {
  font-size: 12px;
  padding: 0px;
}
/* line 303, ../sass/print.scss */
.nav-bar li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 17px;
  letter-spacing: 1.5px;
  font-family: "datm7"; 
}
/* line 311, ../sass/print.scss */
.nav-bar a {
  color: #999;
  text-decoration: none;
}
/* line 316, ../sass/print.scss */
.nav-bar a:hover {
  color: #ccc;
}
/* line 320, ../sass/print.scss */
.nav-bar .active {
  color: #a67c52;
}

/* line 325, ../sass/print.scss */
.main-container {
  position: relative;
  padding: 120px 15px;
  text-align: center;
  color: #ccc;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  z-index: 1;
}
/* line 335, ../sass/print.scss */
.main-container h1 {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.6em;
  font-weight: bold;
  color: #a67c52;
}
/* line 343, ../sass/print.scss */
.main-container h2 {
  font-size: 16px;
  font-family:"datm7";
}
/* line 347, ../sass/print.scss */
.main-container p {
  padding: 10px 0px;
  letter-spacing: 1px;
  line-height: 1.65em;
}

/* line 354, ../sass/print.scss */
.main-even-container {
  background: rgba(250, 250, 250, 0.05);
}

/* line 358, ../sass/print.scss */
.about-step-box {
  max-width: 650px;
  margin: 60px auto -60px;
}

/* line 363, ../sass/print.scss */
.about-step {
  position: relative;
  padding: 0 20px;
  min-height: 265px;
  margin-bottom: 40px;
}
/* line 369, ../sass/print.scss */
.about-step .step-number {
  border: solid 1px #ccc;
  border-radius: 100%;
  position: absolute;
  left: 20px;
  top: 0px;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
}
/* line 383, ../sass/print.scss */
.about-step p {
  text-align: left;
}

/* line 388, ../sass/print.scss */
.main-box {
  max-width: 540px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
/* line 394, ../sass/print.scss */
.main-box img {
  margin: 0 auto;
}

/* line 399, ../sass/print.scss */
.mg-top-35 {
  margin-top: 35px;
}

/* line 403, ../sass/print.scss */
.mg-top-45 {
  margin-top: 45px;
}

/* line 407, ../sass/print.scss */
.flex-row-box {
  display: flex;
  align-items: center;
  max-width: 540px;
  margin: 0 auto;
}

/* line 414, ../sass/print.scss */
.chef-photo {
  flex: 1;
  height: 240px;
  background: #999;
}

/* line 420, ../sass/print.scss */
.chef-info {
  flex: 1.6;
  text-align: left;
  padding-left: 35px;
  vertical-align: middle;
}

/* line 428, ../sass/print.scss */
.footer-section {
  background: rgba(17, 17, 17, 0.55);
  padding: 45px 15px;
  padding-left: 30px;
  color: #999999;
}
/* line 434, ../sass/print.scss */
.footer-section .flex-row {
  display: -webkit-flex;
  display: flex;
}
/* line 440, ../sass/print.scss */
.footer-section h1 {
  color: #a67c52;
  font-size: 14px;
  margin-bottom: 17.5px;
  font-family: "datm7";
}
/* line 446, ../sass/print.scss */
.footer-section table {
  font-size: 14px;
}
/* line 448, ../sass/print.scss */
.footer-section table td {
  padding: 3.5px 0.8em 3.5px 0;
  font-family: "datm7";
}
/* line 453, ../sass/print.scss */
.footer-section .footer-zone {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/* line 459, ../sass/print.scss */
.footer-section .footer-container-md {
  padding-right: 70px;
}
/* line 463, ../sass/print.scss */
.footer-section .footer-container-xs {
  text-align: right;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  padding-top: 20px;
}
/* line 470, ../sass/print.scss */
.footer-section .footer-container-xs a {
  color: #999;
  transition: color 0.5s;
  text-decoration: none;
}
/* line 475, ../sass/print.scss */
.footer-section .footer-container-xs a:hover {
  color: #ccc;
}
/* line 480, ../sass/print.scss */
.footer-section .footer-container-xs .copyright {
  position: absolute;
  bottom: 7px;
  right: 15px;
  font-size: 12px;
}
/* line 488, ../sass/print.scss */
.footer-section .footer-container-xs ul li {
  display: inline;
  font-size: 28px;
  padding: 20px 15px;
}

/* line 498, ../sass/print.scss */
.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 43px;
  padding: 10px;
  text-align: center;
  background: rgba(17, 17, 17, 0.85);
  z-index: 1000;
}
/* line 509, ../sass/print.scss */
.mobile-header a {
  color: #999;
  text-decoration: none;
}
/* line 512, ../sass/print.scss */
.mobile-header a:hover {
  color: #ccc;
}
/* line 517, ../sass/print.scss */
.mobile-header i {
  font-size: 18px;
  padding-top: 3px;
  float: right;
}

/* line 526, ../sass/print.scss */
.bgs {
  position: absolute;
  margin-top: 0px;
}

/* line 534, ../sass/print.scss */
.bg-knife2 {
  left: 0%;
  top: 35%;
  margin-top: 0px;
}

/* line 540, ../sass/print.scss */
.bg-folk1 {
  right: 21%;
  top: 23%;
}

/* line 545, ../sass/print.scss */
.bg-spoon {
  right: 18%;
  top: 35%;
}

/* line 550, ../sass/print.scss */
.bg-spoon2 {
  z-index: -1;
  right: -3%;
  top: -105%;
}

/* line 556, ../sass/print.scss */
.bg-folk2 {
  left: 0%;
  top: 20%;
}

/* line 561, ../sass/print.scss */
.bg-knife1 {
  top: 47%;
  right: -1%;
}

/* line 566, ../sass/print.scss */
.section-index {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: url(../images/cut1-intro/background.png);
  background-size: cover;
  z-index: 0;
  display: block !important;
  padding: 0px;
}
/* line 579, ../sass/print.scss */
.section-index .logo-container {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  padding: 1px;
}
/* line 586, ../sass/print.scss */
.section-index .logo-container .main-slogan {
  max-width: 715px;
  margin: 0 auto;
  padding-top: 320px;
  text-align: center;
  z-index: 1000;
  position: relative;
  text-align: center;
  margin-top: 200px;
}
/* line 596, ../sass/print.scss */
.section-index .logo-container .main-slogan .slogan-img {
  position: absolute;
  top: 0;
  left: 7px;
  margin: 0;
}
/* line 603, ../sass/print.scss */
.section-index .logo-container .main-slogan .btn {
  position: relative;
  z-index: 100;
  display: inline;
  margin: 0 20px;
}
/* line 610, ../sass/print.scss */
.section-index .logo-container .main-slogan a {
  text-decoration: none;
}
/* line 618, ../sass/print.scss */
.section-index .folks {
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../images/cut1-intro/15.png);
  height: 100%;
  width: 100%;
  z-index: 100;
}
/* line 629, ../sass/print.scss */
.section-index .light {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 800px;
  width: 800px;
  background: url(../images/cut1-intro/light.png);
  background-size: 100%;
  background-position: center;
  z-index: 10;
  margin-top: -400px;
  margin-left: -400px;
}
/* line 644, ../sass/print.scss */
.section-index .mask {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  left: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 500;
}

/* line 657, ../sass/print.scss */
.show-1, .show-2, .show-3, .show-4 {
  opacity: 0;
  transition: opacity 2s;
}

/* line 662, ../sass/print.scss */
.showup {
  opacity: 1;
}

/* line 667, ../sass/print.scss */
.rules-section .rules-nav {
  padding-top: 80px;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
  color: #999;
}
/* line 674, ../sass/print.scss */
.rules-section .rules-nav li {
  display: inline-block;
  padding: 1px 15px;
  border-right: solid 1px #777;
  cursor: pointer;
  font-family: "datm7";
}
/* line 681, ../sass/print.scss */
.rules-section .rules-nav li:hover {
  color: #fff;
}
/* line 686, ../sass/print.scss */
.rules-section hr {
  margin: 5px auto 25px;
}
/* line 690, ../sass/print.scss */
.rules-section .pull-left {
  padding-left: 15px;
}
/* line 694, ../sass/print.scss */
.rules-section .main-container {
  max-width: 680px;
  margin: 0 auto;
  padding: 70px 15px;
}
/* line 701, ../sass/print.scss */
.rules-section table td {
  vertical-align: top;
  padding: 5px 3px;
  letter-spacing: 1.3px;
  line-height: 1.5em;
}
/* line 709, ../sass/print.scss */
.rules-section .btn-standard {
  margin-top: 120px;
  margin-bottom: 60px;
}

/* line 716, ../sass/print.scss */
.reservation-section select {
  position: relative;
  -webkit-appearance: button;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 0;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  background: #979797;
  outline: none;
  color: #444;
}
/* line 736, ../sass/print.scss */
.reservation-section input {
  position: relative;
  -webkit-appearance: button;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  padding: 0.3em 0.6em;
  width: 100%;
  border: none;
  outline: none;
  background: #979797 !important;
  border-radius: 0;
  border-color: #979797;
  color: #444;
}
/* line 755, ../sass/print.scss */
.reservation-section input[type="checkbox"] {
  display: none;
}
/* line 758, ../sass/print.scss */
.reservation-section input[type="checkbox"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  border: solid 1px #a67c52;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}
/* line 768, ../sass/print.scss */
.reservation-section input[type="checkbox"]:checked + label span:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  background: #a67c52;
  border-radius: 100%;
}
/* line 780, ../sass/print.scss */
.reservation-section input[type="radio"] {
  display: none;
}
/* line 783, ../sass/print.scss */
.reservation-section input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  border: solid 1px #a67c52;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}
/* line 793, ../sass/print.scss */
.reservation-section input[type="radio"]:checked + label span:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  background: #a67c52;
  border-radius: 100%;
}
/* line 805, ../sass/print.scss */
.reservation-section input[type="checkbox"] + .agree-check span {
  border-color: #999;
  border-radius: 0;
}
/* line 810, ../sass/print.scss */
.reservation-section input[type="checkbox"]:checked + .agree-check span:after {
  color: #999;
  border-radius: 0;
  background: none;
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
}
/* line 818, ../sass/print.scss */
.reservation-section textarea {
  resize: none;
  padding: 0.3em 0.6em;
  width: 100%;
  border: none;
  outline: none;
  background: #979797 !important;
  border-radius: 0;
  border-color: #979797;
  color: #444;
}
/* line 830, ../sass/print.scss */
.reservation-section .privacy-link {
  color: #a67c52;
}
/* line 834, ../sass/print.scss */
.reservation-section .form-group {
  margin-bottom: 0px;
  height: 34px;
}
/* line 839, ../sass/print.scss */
.reservation-section .input-group-addon {
  background: #979797;
  border: none;
  border-radius: 0;
  color: #000;
}
/* line 846, ../sass/print.scss */
.reservation-section .select-wrap {
  position: relative;
}
/* line 849, ../sass/print.scss */
.reservation-section .select-wrap:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0d7";
  position: absolute;
  right: 13px;
  top: 15px;
  color: #000;
  z-index: 1;
  pointer-events: none;
  font-size: 16px;
}
/* line 863, ../sass/print.scss */
.reservation-section .alert-wrap {
  color: #bf272d;
  font-size: 12px;
  opacity: 0;
  padding-bottom: 15px;
}
/* line 870, ../sass/print.scss */
.reservation-section .alert-show {
  opacity: 1;
}
/* line 874, ../sass/print.scss */
.reservation-section .reservation-nav {
  padding-top: 80px;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
  color: #999;
}
/* line 881, ../sass/print.scss */
.reservation-section .reservation-nav li {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border: solid 1px #666;
  border-radius: 100%;
  margin: 0 7px;
}
/* line 892, ../sass/print.scss */
.reservation-section .reservation-nav .active {
  background: #666;
  color: #fff;
}
/* line 898, ../sass/print.scss */
.reservation-section hr {
  margin: 5px auto 25px;
}
/* line 902, ../sass/print.scss */
.reservation-section .pull-left {
  padding-left: 15px;
}
/* line 906, ../sass/print.scss */
.reservation-section p {
  text-align: left;
}
/* line 909, ../sass/print.scss */
.reservation-section p a {
  padding: 2px;
  color: #ccc;
  border-bottom: solid 1px #ccc;
  text-decoration: none;
}
/* line 914, ../sass/print.scss */
.reservation-section p a:hover {
  color: #a67c52;
  border-color: #a67c52;
}
/* line 921, ../sass/print.scss */
.reservation-section .main-container {
  max-width: 540px;
  margin: 0 auto;
  padding: 50px 15px;
}
/* line 927, ../sass/print.scss */
.reservation-section table {
  width: 100%;
}
/* line 929, ../sass/print.scss */
.reservation-section table td {
  vertical-align: top;
  padding: 5px 3px;
  letter-spacing: 1.3px;
  line-height: 1.5em;
}
/* line 935, ../sass/print.scss */
.reservation-section table th {
  color: #a67c52;
  text-align: center;
  padding: 5px 10px;
}
/* line 942, ../sass/print.scss */
.reservation-section table .not-active td {
  color: #4d4b4b;
}
/* line 946, ../sass/print.scss */
.reservation-section table .not-active label span {
  border-color: #433323 !important;
  pointer-events: none;
}
/* line 951, ../sass/print.scss */
.reservation-section table .not-active label span:after {
  background: #433323 !important;
}
/* line 955, ../sass/print.scss */
.reservation-section table .not-active input {
  pointer-events: none;
}
/* line 961, ../sass/print.scss */
.reservation-section .confirm-table {
  max-width: 350px;
  margin: 30px auto 45px;
}
/* line 966, ../sass/print.scss */
.reservation-section .confirm-table td {
  width: 100px;
}
/* line 970, ../sass/print.scss */
.reservation-section .confirm-table th {
  text-align: left;
}
/* line 975, ../sass/print.scss */
.reservation-section .btn-standard {
  display: inline-block;
  margin: 0 20px;
  margin-top: 45px;
  margin-bottom: 30px;
}
/* line 983, ../sass/print.scss */
.reservation-section .btn-pay {
  padding: 5px 20px;
  margin: 0 15px 15px;
  font-size: 12px;
  border: solid 2px #a67c52;
  border-radius: 0px;
}
/* line 990, ../sass/print.scss */
.reservation-section .btn-negative {
  border: solid 2px #666;
  color: #666;
}
/* line 994, ../sass/print.scss */
.reservation-section .btn-negative:hover {
  background: #666;
  color: #333;
}

/* line 1002, ../sass/print.scss */
.lightbox {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
}

/* line 1013, ../sass/print.scss */
.lightbox-container {
  border-radius: 6px;
  position: relative;
  height: 80%;
  top: 10%;
  width: 90%;
  max-width: 780px;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 70px;
  padding-right: 5px;
  padding-top: 55px;
}

/* line 1028, ../sass/print.scss */
.lightbox-header {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #a67c52;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
}

/* line 1041, ../sass/print.scss */
.lightbox-content {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding-right: 15px;
}

/* line 1048, ../sass/print.scss */
.lightbox-content h1 {
  margin-top: 15px;
  line-height: 1.5em;
  color: #c1272d;
  font-weight: bold;
  font-size: 18px;
}

/* line 1056, ../sass/print.scss */
.lightbox-content h2 {
  color: #444;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.5em;
  margin: 25px;
}

/* line 1064, ../sass/print.scss */
.lightbox-content p {
  padding: 15px 0;
  line-height: 1.45em;
}

/* line 1069, ../sass/print.scss */
.lightbox-cancel-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding-top: 13px;
  text-align: center;
  background: #eee;
  border-top: solid 1px #ccc;
  border-radius: 0 0 5px 5px;
}

/* line 1082, ../sass/print.scss */
.lightbox-cancel {
  display: table;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 0 auto;
  border: solid 1px #ccc;
  background: #777;
}

/* line 1090, ../sass/print.scss */
.contact-section {
  max-width: 640px;
  margin: 0 auto;
  color: #999;
  font-size: 14px;
}
/* line 1096, ../sass/print.scss */
.contact-section h1 {
  color: #a67c52;
  font-size: 14px;
}
/* line 1101, ../sass/print.scss */
.contact-section .contact-info-container {
  padding: 45px 15px 30px;
}
/* line 1105, ../sass/print.scss */
.contact-section .contact-alert-container {
  display: -webkit-flex;
  display: flex;
  background: #444;
  padding: 1.25em;
  letter-spacing: 1px;
  margin: 45px auto;
}
/* line 1113, ../sass/print.scss */
.contact-section .contact-alert-container .left-box {
  width: 100px;
  margin-right: 15px;
  position: relative;
}
/* line 1118, ../sass/print.scss */
.contact-section .contact-alert-container .left-box:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 3px;
  width: 2px;
  height: 14px;
  background: #999;
}
/* line 1129, ../sass/print.scss */
.contact-section .contact-alert-container .right-box {
  flex: 1;
}

/* line 1137, ../sass/print.scss */
.people-section {
  text-align: center;
}
/* line 1139, ../sass/print.scss */
.people-section .people-nav {
  padding-top: 60px;
}
/* line 1142, ../sass/print.scss */
.people-section .people-nav ul {
  padding-left: 45px;
}
/* line 1146, ../sass/print.scss */
.people-section .people-nav .after-arrow {
  padding-right: 30px;
}
/* line 1150, ../sass/print.scss */
.people-section .people-nav .after-arrow:after {
  position: absolute;
  right: -10px;
  top: 13px;
  content: "";
  background: url("../images/cut_story/arrow.png");
  height: 15px;
  width: 10px;
}
/* line 1161, ../sass/print.scss */
.people-section .people-nav li {
  display: inline-block;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  padding-left: 50px;
  height: 60px;
  margin: 0 20px;
}
/* line 1170, ../sass/print.scss */
.people-section .people-nav li div {
  position: absolute;
  top: 5px;
  left: 0px;
  display: inline-block;
  color: #999;
  height: 32px;
  width: 32px;
  border: solid 1px #999;
  border-radius: 100%;
  line-height: 32px;
  text-align: center;
  margin-right: 10px;
}
/* line 1185, ../sass/print.scss */
.people-section .people-nav li span {
  vertical-align: middle;
  display: block;
  color: #999;
  font-size: 14px;
}
@media (max-width: 776px){
         .people-section .people-nav ul {
             padding-left: 0px;
             max-width: 270px;
             text-align: left;
             margin: 0 auto;
         }
         .people-section .people-nav {
             padding-top: 80px;
             padding-bottom: 55px;
         }
         .people-section .people-nav .after-arrow {
             padding-right: 0px;
             padding-bottom: 90px;    
         }
         .people-section .people-nav .after-arrow:after {
         left: 13px;
         top: 65px;
         transform: rotate(90deg);
         }
 }
/* line 1199, ../sass/print.scss */
.event-section a > .event-box {
  margin: 45px auto;
}
/* line 1202, ../sass/print.scss */
.event-section a > .event-box:hover {
  background-size: 945px 390px;
}
/* line 1207, ../sass/print.scss */
.event-section .event-box {
  position: relative;
  margin: 0 auto;
  max-width: 851px;
  width: 100%;
  height: 351px;
  background: url("../images/event-1-w.jpg");
  background-position: center;
  background-size: 851px 351px;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in;
  -moz-transition: background-size 0.5s ease-in;
  -ms-transition: background-size 0.5s ease-in;
  -o-transition: background-size 0.5s ease-in;
  -webkit-transition: background-size 0.5s ease-in;
  overflow: hidden;
}
.event-section .event-box2 {
  background: url("../images/event-2-w.jpg");
}
/* line 1225, ../sass/print.scss */
.event-section .event-box > div {
  position: absolute;
  left: 10%;
  top: 28%;
}
/* line 1229, ../sass/print.scss */
.event-section .event-box > div h1 {
  font-size: 24px;
  text-align: left;
  line-height: 1.3em;
}
/* line 1235, ../sass/print.scss */
.event-section .event-box > div p {
  text-align: left;
  color: #a67c52;
}
/* line 1242, ../sass/print.scss */
.event-section .event-text-box {
  text-align: left;
  max-width: 851px;
  margin: 60px auto 0;
}

@media (max-width: 776px) {
  /* line 1252, ../sass/print.scss */
  .event-section {
    padding: 0 15px;
  }
  /* line 1254, ../sass/print.scss */
  .event-section .event-box {
    width: 100%;
    height: 450px;
    background: url("../images/event-1-mob.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in;
    -moz-transition: background-size 0.5s ease-in;
    -ms-transition: background-size 0.5s ease-in;
    -o-transition: background-size 0.5s ease-in;
    -webkit-transition: background-size 0.5s ease-in;
    overflow: hidden;
  }
  .event-section .event-box2 {
    background: url("../images/event-2-mob.jpg");
  }
  /* line 1268, ../sass/print.scss */
  .event-section .event-box:hover {
    background-size: 100%;
  }
  /* line 1272, ../sass/print.scss */
  .event-section .event-box > div {
    position: absolute;
    left: 7%;
    top: 5%;
  }
  /* line 1276, ../sass/print.scss */
  .event-section .event-box > div h1 {
    font-size: 24px;
    margin-top: 60px;
  }
  /* line 1280, ../sass/print.scss */
  .event-section .event-box > div p {
    text-align: left;
    color: #a67c52;
  }
  /* line 1287, ../sass/print.scss */
  .event-section .event-text-box {
    margin-top: 25px;
  }
}
